.title{
    color: white;
    text-align: center;
    font-size: 50px;
}
.card{
    overflow-y: scroll;
}
.card::-webkit-scrollbar {
    display: none;
}
.news{
    overflow-x: hidden;
    background-color: black;
}
body{
    background-color: black; 
}